<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cité De Soin Et Beauté - Nos Produits</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="shortcut icon" href="/img/icon.jpg" type="image/x-icon">
</head>

<body>
    <div id="loader">
        <div id="spinner"></div>
    </div>

    <div id="everything">
        <%- include("includes/topbar") %>

            <main>
                <div class="productsc">
                    <div class="listproduits" id="produits">
                        <div class="sectop">
                            <h1>Nos Produits</h1>
                        </div>
                        <div class="produits" id="produitsl">
                        </div>
                    </div>
                </div>
            </main>

            <%- include("includes/footer") %>
    </div>

    <script>
        window.addEventListener("load", () => {
            const container = document.getElementById("produitsl")
            container.innerHTML = ""

            document.getElementById("loader").classList.add("hide");
            document.getElementById("everything").classList.add("show");

            async function ListePorduits() {
                const resultat = await fetch("/Liste-Produits")
                const data = await resultat.json()

                if(!data.length) {
                    const h1 = document.createElement("h1")
                    h1.innerHTML = "Il se peut qu'il n'y ait rien"
                    container.classList.add("not")
                    container.appendChild(h1)
                }

                data.forEach(element => {
                    const { id, name, description, price, stock, created_at, imageurl } = element

                    const card = document.createElement("div")
                    card.className = "templateP fade-in"
                    
                    card.innerHTML = `
                                <div class="toptemp">
                                    <h3>${name}</h3>
                                    <p>${price} DH</p>
                                </div>
                                <div class="backgroundtemp load">
                                    <img style="width:300px; height:300px" src="${imageurl}" alt="${name}" class="product-img">
                                </div>
                                <div class="downtemp">
                                    <a href="/Produit/Buy/${id}">Buy now </a>
                                    <a href="/Produit/${id}">Learn more</a>
                                </div>`

                    container.appendChild(card)

                    const background = document.querySelector(".backgroundtemp")
                    const img = background.querySelector("img")

                    img.addEventListener("load", (e) => {
                        background.classList.remove("load")
                        img.classList.add("loaded")
                    })
                })
            }

            ListePorduits()
        });
    </script>
</body>

</html>