<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cité De Soin Et Beauté - Nos Produits</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="shortcut icon" href="/img/icon.jpg" type="image/x-icon">
</head>

<body>
    <div id="loader">
        <div id="spinner"></div>
    </div>

    <div id="everything">
        <%- include("includes/topbar") %>

            <main>
                <div class="productsc">
                    <div class="listproduits" id="produits">
                        <div class="sectop">
                            <h1>Nos Produits</h1>
                        </div>
                        <div class="produits">
                            <div class="templateP">
                                <div class="toptemp">
                                    <h3>Title</h3>
                                    <p>Price</p>
                                </div>
                                <div class="backgroundtemp">
                                    <img src="" alt="Empty">
                                </div>
                                <div class="downtemp">
                                    <a href="">Buy now </a>
                                    <a href="">Learn more</a>
                                </div>
                            </div>
                            <div class="templateP">
                                <div class="toptemp">
                                    <h3>Title</h3>
                                    <p>Price</p>
                                </div>
                                <div class="backgroundtemp">
                                    <img src="" alt="Empty">
                                </div>
                                <div class="downtemp">
                                    <a href="">Buy now </a>
                                    <a href="">Learn more</a>
                                </div>
                            </div>
                            <div class="templateP">
                                <div class="toptemp">
                                    <h3>Title</h3>
                                    <p>Price</p>
                                </div>
                                <div class="backgroundtemp">
                                    <img src="" alt="Empty">
                                </div>
                                <div class="downtemp">
                                    <a href="">Buy now </a>
                                    <a href="">Learn more</a>
                                </div>
                            </div>
                            <div class="templateP">
                                <div class="toptemp">
                                    <h3>Title</h3>
                                    <p>Price</p>
                                </div>
                                <div class="backgroundtemp">
                                    <img src="" alt="Empty">
                                </div>
                                <div class="downtemp">
                                    <a href="">Buy now </a>
                                    <a href="">Learn more</a>
                                </div>
                            </div>
                            <div class="templateP">
                                <div class="toptemp">
                                    <h3>Title</h3>
                                    <p>Price</p>
                                </div>
                                <div class="backgroundtemp">
                                    <img src="" alt="Empty">
                                </div>
                                <div class="downtemp">
                                    <a href="">Buy now </a>
                                    <a href="">Learn more</a>
                                </div>
                            </div>
                            <div class="templateP">
                                <div class="toptemp">
                                    <h3>Title</h3>
                                    <p>Price</p>
                                </div>
                                <div class="backgroundtemp">
                                    <img src="" alt="Empty">
                                </div>
                                <div class="downtemp">
                                    <a href="">Buy now </a>
                                    <a href="">Learn more</a>
                                </div>
                            </div>
                            <div class="templateP">
                                <div class="toptemp">
                                    <h3>Title</h3>
                                    <p>Price</p>
                                </div>
                                <div class="backgroundtemp">
                                    <img src="" alt="Empty">
                                </div>
                                <div class="downtemp">
                                    <a href="">Buy now </a>
                                    <a href="">Learn more</a>
                                </div>
                            </div>
                            <div class="templateP">
                                <div class="toptemp">
                                    <h3>Title</h3>
                                    <p>Price</p>
                                </div>
                                <div class="backgroundtemp">
                                    <img src="" alt="Empty">
                                </div>
                                <div class="downtemp">
                                    <a href="">Buy now </a>
                                    <a href="">Learn more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>

            <%- include("includes/footer") %>
    </div>

    <script>
        window.addEventListener("load", () => {
            document.getElementById("loader").classList.add("hide");
            document.getElementById("everything").classList.add("show");
        });
    </script>
</body>

</html>