<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cité De Soin Et Beauté</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="shortcut icon" href="/img/main.png" type="image/x-icon">
</head>

<body>
    <div id="loader">
        <div id="spinner"></div>
    </div>

    <div id="everything">
        <%- include("includes/topbar") %>

        <main>
            <div class="stcontainer">
                <div class="pinktop">
                    <div class="centering">
                        <div class="textside">
                            <h1>A good cake for a day</h1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, facilis!</p>
                            <a href="/Produits">Nos Produits</a>
                        </div>
                        <div class="picside">
                            <img src="/img/main.png" alt="Smt">
                        </div>
                    </div>
                </div>
                <div class="pinkdown">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo?</p>
                </div>
            </div>
            <div class="productsc">
                <div class="listproduits" id="produits">
                    <div class="sectop">
                        <h1>Nos Produits</h1>
                        <a href="/Produits">Tous</a>
                    </div>
                    <div class="produits">
                        <div class="templateP">
                            <div class="toptemp">
                                <h3>Title</h3>
                                <p>Price</p>
                            </div>
                            <div class="backgroundtemp">
                                <img src="" alt="Empty">
                            </div>
                            <div class="downtemp">
                                <a href="">Buy now </a>
                                <a href="">Learn more</a>
                            </div>
                        </div>
                        <div class="templateP">
                            <div class="toptemp">
                                <h3>Title</h3>
                                <p>Price</p>
                            </div>
                            <div class="backgroundtemp">
                                <img src="" alt="Empty">
                            </div>
                            <div class="downtemp">
                                <a href="">Buy now </a>
                                <a href="">Learn more</a>
                            </div>
                        </div>
                        <div class="templateP">
                            <div class="toptemp">
                                <h3>Title</h3>
                                <p>Price</p>
                            </div>
                            <div class="backgroundtemp">
                                <img src="" alt="Empty">
                            </div>
                            <div class="downtemp">
                                <a href="">Buy now </a>
                                <a href="">Learn more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sperator"></div>
            <div class="instaFeed">
                <div class="feeds">
                    <h1>Instagram Feed</h1>
                    <div class="listfeed">
                        <div class="feedcol1">
                            <img src="/img/feedm.png" alt="">
                        </div>
                        <div class="feedcol2">
                            <img src="/img/feed1.png" alt="">
                            <img src="/img/feed2.png" alt="">
                            <img src="/img/feed3.png" alt="">
                            <img src="/img/feed4.png" alt="">
                            <img src="/img/feed5.png" alt="">
                            <img src="/img/feed6.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="sperator1"></div>
        </main>

        <%- include("includes/footer") %>
    </div>

    <script>
        window.addEventListener("load", () => {
            document.getElementById("loader").classList.add("hide");
            document.getElementById("everything").classList.add("show");
        });
    </script>
</body>

</html>