.background {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    z-index: 998;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.background.show {
    opacity: 1;
    pointer-events: auto;
}

.cartc {
    background-color: rgba(255, 255, 255, 0.923);
    height: 470px;
    width: 480px;
    z-index: 999;
    box-shadow: 0 10px 25px rgba(31, 31, 31, 0.07);

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cartc.closed {
    z-index: -1;
    opacity: 0;
}

.buttonconfirm {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonconfirm button {
    border: 2px solid rgb(215, 62, 177);
    background-color: rgb(252, 45, 162);
    border-radius: 25px;
    font-size: medium;
    color: white;
    width: 90px;
    height: 35px;

    cursor: pointer;

    transition: background-color 0.6s ease, border-color 0.6s ease;
}

.buttonconfirm button:hover {
    border-color: rgb(14, 134, 18);
    background-color: rgb(18, 121, 30);
}

.scrollablet {
    height: 90%;
    width: 100%;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
}

table {
    width: 100%;
    height: auto;
    border-collapse: collapse;
    border : 2px solid rgba(196, 196, 196, 0.57);
    border-radius: 10px;
}

table tr {
    border-radius: 25px;
    scroll-snap-align: start;
}

th {
    background-color: rgb(227, 227, 227);
    color: rgb(60, 60, 60);
    height: 50px;
    font-size: large;
    position: sticky;
    top: 0;
    text-align: start;
}

tbody {
    overflow-x: hidden;
    background-color: white;
}

tbody tr {
    border-bottom: 2px solid rgba(196, 196, 196, 0.57);
    height: 45px;
    background-color: transparent;
    transition: all 0.5s ease;
}

tbody tr:hover {
    background-color: #eeeeee;
}

thead tr th,
tbody tr td {
    padding-left: 20px;
}

td img {
    height: 40px;
    width: 40px;
    object-fit: cover;
    vertical-align: middle;
    margin-right: 5px;
    border-radius: 4px;
}

td input {
    border: 0;
    text-align: center;
    border-radius: 15px;
}

.prix {
    font-size: 14px;
    color: #818181;
}

td .delete {
    cursor: pointer;
    color: red;
}