<footer>
    <div class="contactme" id="contactez-nous">
        <div class="partContact">
            <div class="contactmec">
                <h1>Contactez nous</h1>
                <form action="/SendMSGContact" method="post">
                    <div class="items">
                        <label>Nom Complet *</label>
                        <input placeholder="ex : Mohammed Amine Sirri" type="text" name="nomc" maxlength="30"
                            minlength="5">
                    </div>
                    <div class="items">
                        <label>Email *</label>
                        <input placeholder="ex : mohammed.amine@exemple.com" type="text" name="email" maxlength="60"
                            minlength="5">
                    </div>
                    <div class="items">
                        <label>Message *</label>
                        <textarea placeholder="Saisissez votre message ici." name="message" maxlength="150"
                            minlength="5"></textarea>
                    </div>
                    <div class="items">
                        <button type="submit">Envoyer Le Message</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="part2Footer">
            <div class="holder">
                <div class="credit1">
                    <a href="#">Cité de Soin & Beauté</a>
                </div>
                <div class="credit2">
                    <div class="contactus">
                        <h3>Contactez nous</h3>
                        <p>Téléphone</p>
                        <h5>0612442810</h5>
                        <p>Email</p>
                        <h5>citedesoinetbeaute@gmail.com</h5>
                    </div>
                    <div class="followus">
                        <h3>Suivez nous</h3>
                        <div class="social" style="margin-top: 15px;">
                            <a target="_blank" href="https://www.instagram.com/citedesoinetbeaute/">
                                <img src="/img/insta.png" alt="">
                            </a>
                            <a href="https://www.threads.com/@citedesoinetbeaute" target="_blank"
                                rel="noopener noreferrer">
                                <img src="/img/threads.png" alt="">
                            </a>
                            <a href="">
                                <img src="/img/facebook.png" alt="">
                            </a>
                            <a href="">
                                <img src="/img/whatsapp.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="credit3">
                    <p>&copy; 2026 Cité de Soin & Beauté</p>
                </div>
            </div>
        </div>
    </div>
</footer>