<header lass="maincontainer" id="">
    <div class="topcontainer">
        <nav class="navigation">
            <div id="part1-nav">
                <a href="/">Cité de Soin & Beauté</a>
            </div>
            <div id="part2-nav">
                <div class="sectionsnav">
                    <a href="/A-propos-de-nous">À propos de nous</a>
                    <a href="#produits">Produits</a>
                    <a href="#produits">Mon Panier</a>
                    <div class="contact">
                        <a href="#contactez-nous">Contactez-nous</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>